<div><%= link_to image_tag("blogpage.jpg", alt: "Rails") %></div>
<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Social Microblog
  is a project aimed at connecting people the Twitter way via the social microblog. This
  is the sample application.
</p>
