<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Social Microblog</a>
  is a project aimed at connecting people the Twitter way via<a href="http://rubyonrails.org/">the social microblog</a>. This
  is the sample application.
</p>
