<div><%= link_to image_tag("blogpage.jpg", alt: "Rails") %></div>

<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Henry Lilan - the creator of social microblog - about the sample app at the
  contact page
</p>
