<div><%= link_to image_tag("blogpage.jpg", alt: "Rails") %></div>


<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Social Microblogging app at the
  Social Microblog help page.
  To get help on this sample app, see the documentation.
</p>

<p>Blogger offers an easy way to collaborate, discuss, or share your thoughts with others. </p>