<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Social Microblogging app at the
  <a href="http://railstutorial.org/help">Social Microblog help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">documentation</a>.
</p>