<div class="center hero-unit">
  <h1>Welcome to the e-Micro-Blog</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">e-Micro-Blog</a>
    application.
  </h2>

  <h3>Connect with friends all over the world right away<h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("eblogger.jpeg", alt: "Rails"), 'http://rubyonrails.org/' %>